
.header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.header-div {
  background-color: #f5f7fa;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.header-category {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.header-category h2 {
    align-content: center;
}

.header-category button {
  background-color: #ffffff;
  color: #333;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.header-category button:focus {
  background-color: #FF8282; 
  color: #fff;
  border-color: #e6e6b0;
  transform: translateY(-2px) scale(1.05);
}

/* // media query  */ 
@media (max-width: 478px) {

  .header-div {
    margin-top: 50px;
  }
}




